<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Waditor helps you create, modify, and export Half-Life WAD3 (.wad) files online in the browser."
    />
    <title>Waditor - Online Half-Life WAD Editor & Creator</title>
    <!-- Social meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Waditor - Online Half-Life WAD Editor & Creator" />
    <meta name="twitter:description" content="Waditor helps you create, modify, and export Half-Life WAD3 (.wad) files online in the browser." />
    <meta property="og:title" content="Waditor - Online Half-Life WAD Editor & Creator">
    <meta property="og:site_name" content="Waditor">
    <meta property="og:url" content="https://kuso.day/wad-editor/index.html" itemprop="thumbnailUrl">
    <meta property="og:description" content="Waditor helps you create, modify, and export Half-Life WAD3 (.wad) files online in the browser.">
    <meta property="og:type" content="website">

    <script type="module" src="./js/main.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/goldsrc.css">
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    
  </head>

  <body id="body" hidden>
    <!-- Main App -->
    <div id="app" class="box">
      <!-- Header -->
      <div id="header">
        <p id="title">Waditor</p>
        <p id="subtitle">
          Create, modify, and export Half-Life (GoldSrc) WAD3 files.
        </p>
      </div>
      <!-- Screens -->
      <div id="screens">
        <!-- File Upload Zone Screen -->
        <div id="upload-screen" v-if="!uploaded && !error">
          <h5 id="upload-instructions">
            Drag & drop a Half-Life <span id="wad3-label">WAD3</span
            ><sup
              ><a
                target="_blank"
                href="https://www.j0e.io/tutorials/wad3-format/"
                >[1]</a
              ></sup
            ><sup
              ><a
                target="_blank"
                href="https://developer.valvesoftware.com/wiki/WAD"
                >[2]</a
              ></sup
            >
            file or click to select it
          </h5>
          <input
            class="box"
            id="upload"
            type="file"
            @input="onUpload"
          />
          <h5 id="create-new-instructions">Or, create a new one</h5>
          <input
            type="text"
            id="new_wad_name"
            minlength="1"
            v-model="newFileName"
            autofocus
          />
          <button
            id="create-btn"
            @click="createEmpty()"
            type="button"
          >
            Create
          </button>
        </div>
        <!-- Error Screen -->
        <div id="error-screen" v-if="error">
          <p id="error-title">Error</p>
          <p id="error-message">{{error}}</p>
          <button
            id="error-back-btn"
            @click="clearError()"
            type="button"
          >
            Go Back
          </button>
        </div>
        <!-- WAD Screen -->
        <div id="wad-screen" v-if="uploaded && !error">
          <div id="file-header">
            <p id="file-name-container">
              Selected File: <span id="file-name">{{fileName}}</span>
            </p>
            <div id="close-btn-container">
              <button
                id="close-btn"
                :disabled="interfaceDisabled"
                @click="reset()"
                type="button"
              >
                Close
              </button>
            </div>
          </div>
          <hr id="divider" />
          <div id="action-row">
            <div id="save-actions">
              <button
                id="save-zip-btn"
                :disabled="interfaceDisabled"
                @click="saveZip()"
                type="button"
              >
                Save ZIP
              </button>
              <button
                id="save-wad-btn"
                :disabled="interfaceDisabled"
                @click="saveWad()"
                type="button"
              >
                Save WAD
              </button>
            </div>
            <div id="add-actions">
              <input
                id="add_img"
                type="file"
                accept=".bmp, .png, .jpg, .gif"
                @change="addTexture(event)"
                hidden
              />
              <button
                id="add-texture-btn"
                :disabled="interfaceDisabled"
                @click="add_img.click()"
                type="button"
              >
                Add Texture
              </button>
              <input
                id="merge_wad"
                type="file"
                accept=".wad"
                @change="mergeWad(event)"
                hidden
              />
              <button
                id="merge-wad-btn"
                :disabled="interfaceDisabled"
                @click="merge_wad.click()"
                type="button"
              >
                Merge WAD
              </button>
            </div>
          </div>
          <!-- Canvas Display -->
          <div
            id="canvas-container"
            v-if="textures.length"
          >
            <div id="texture-actions">
              <!-- Renaming -->
              <div id="rename-container">
                <input
                  id="rename-input"
                  :disabled="interfaceDisabled"
                  type="text"
                  name="rename"
                  :placeholder="textures[selected]?.name"
                  maxlength="12"
                  minlength="1"
                  v-model="renameInput"
                  v-effect="$el.value = textures[selected]?.name"
                  autofocus
                />
                <button
                  id="rename-btn"
                  :disabled="interfaceDisabled || renameInput == textures[selected]?.name || renameInput < 1 || renameInput > 12"
                  @click="rename()"
                  type="button"
                >
                  Rename
                </button>
              </div>
              <!-- Deleting -->
              <div id="delete-container">
                <button
                  id="delete-btn"
                  :disabled="interfaceDisabled"
                  @click="remove()"
                  type="button"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
          <canvas
            v-effect="displayTexture($el)"
            width="20"
            height="20"
            id="viewport"
            style="image-rendering: pixelated"
          ></canvas>
          <!-- Texture List-->
          <div
            id="texture-list-container"
            v-if="textures.length > 0"
          >
            <input
              id="search-textures"
              :disabled="interfaceDisabled"
              type="search"
              name="search_textures"
              v-model="search"
              placeholder="Search Textures"
              v-init="focus()"
            />
            <select
              id="texture_list"
              :disabled="interfaceDisabled"
              size="5"
              @change="selectTexture($el.value)"
              v-effect="$el.value = textures[selected]?.name"
            >
              <option
                :value="entry.name"
                :name="entry.name"
                v-for="entry in getSortedEntries()"
                :hidden="entry.name.toLowerCase().includes(search.toLowerCase().replace(' ', '').trim()) == false"
              >
                {{entry.name}}
              </option>
            </select>
          </div>
          <!-- No texture -->
          <div
            id="no-textures-container"
            v-if="!textures.length"
          >
            <h3 id="no-textures-message">No Textures.</h3>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div id="footer">
        <p id="author">
          by
          <a href="https://github.com/2lag" class="footer-link"
            >day @2lag</a
          >.
        </p>
        <p id="forked-from-1">
          Forked from
          <a href="https://github.com/rehhouari/wad-editor" class="footer-link"
            >Rehhouari's WAD editor</a
          >.
        </p>
        <p id="forked-from-2">
          Which is forked from
          <a href="https://github.com/josephfortune/wad-editor" class="footer-link"
            >Joe's WAD editor</a
          >.
        </p>
        <p id="contribute">
			<a
			  href="https://github.com/2lag/wad-editor"
			  class="footer-link"
			  >Contribute on GitHub</a
			>
		</p>
      </div>
    </div>
    <script src="./js/jszip.min.js"></script>
    <script src="./js/FileSaver.min.js"></script>
  </body>
</html>