<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Waditor helps you create, modify, and export Half-Life WAD3 (.wad) files online in the browser."
    />
    <title>Waditor - Online Half-Life WAD Editor & Creator</title>
    <!-- Social meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Waditor - Online Half-Life WAD Editor & Creator" />
    <meta name="twitter:description" content="Waditor helps you create, modify, and export Half-Life WAD3 (.wad) files online in the browser." />
    <meta property="og:title" content="Waditor - Online Half-Life WAD Editor & Creator">
    <meta property="og:site_name" content="Waditor">
    <meta property="og:url" content="https://kuso.day/wad-editor/index.html" itemprop="thumbnailUrl">
    <meta property="og:description" content="Waditor helps you create, modify, and export Half-Life WAD3 (.wad) files online in the browser.">
    <meta property="og:type" content="website">

    <script src="./js/windicss.js" defer init></script>
    <script type="module" src="./js/main.js"></script>
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    
  </head>

  <body class="bg-cool-gray-400 px-4 h-screen pt-4 block" hidden>
    <!-- Main App -->
    <div
      id="app"
      class="flex flex-col md:w-full sm:w-full lg:w-md xl:w-xl 2xl:w-2xl mx-auto !max-w-full rounded-t-xl bg-cool-gray-800 text-white tracking-tighter text-center shadow-lg"
    >
      <!-- Header -->
      <div class="p-4 flex-col">
        <p class="text-xl font-bold my-2">Waditor</p>
        <p class="my-1 text-sm">
          Create, modify, and export Half-Life (GoldSrc) WAD3 files.
        </p>
      </div>
      <!-- Screens -->
      <div
        class="flex-col flex-grow bg-gray-100 text-cool-gray-800 children:p-4 py-4"
      >
        <!-- File Upload Zone Screen -->
        <div v-if="!uploaded && !error">
          <h5>
            Drag & drop a Half-Life <span class="text-gray-600">WAD3</span
            ><sup
              ><a
                target="_blank"
                href="https://www.j0e.io/tutorials/wad3-format/"
                >[1]</a
              ></sup
            ><sup
              ><a
                target="_blank"
                href="https://developer.valvesoftware.com/wiki/WAD"
                >[2]</a
              ></sup
            >
            file or click to select it
          </h5>
          <input
            id="upload"
            type="file"
            @input="onUpload"
            class="max-w-full px-10 py-10 transparent bg-white rounded-lg shadow-lg"
          />
          <h5>Or, create a new one</h5>
          <input
            type="text"
            id="new_wad_name"
            minlength="1"
            v-model="newFileName"
            autofocus
            class="h-8 p-2 max-w-full rounded-lg font-semibold transition ring-2 ring-cool-gray-300 focus:outline-none focus:ring-cool-gray-800 focus:ring-inset"
          />
          <button
            class="h-8 px-3 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 hover:text-cool-gray-800"
            @click="createEmpty()"
            type="button"
          >
            Create
          </button>
        </div>
        <!-- Error Screen -->
        <div v-if="error">
          <p class="mt-0 text-lg font-bold">Error</p>
          <p class="text-md my-8">{{error}}</p>
          <button
            class="h-8 px-3 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 hover:text-cool-gray-800"
            @click="clearError()"
            type="button"
          >
            Go Back
          </button>
        </div>
        <!-- WAD Screen -->
        <div v-if="uploaded && !error" class="flex flex-col space-y-3 pt-0">
          <div class="flex flex-row space-x-2">
            <p class="text-sm flex-col flex-grow text-left">
              Selected File: <span class="font-bold text-md">{{fileName}}</span>
            </p>
            <div class="flex-col self-center">
              <button
                :disabled="interfaceDisabled"
                class="h-8 px-2 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 hover:text-cool-gray-800"
                @click="reset()"
                type="button"
              >
                Close
              </button>
            </div>
          </div>
          <hr class="border-b-2 h-1 w-full !mt-0 border-gray-300" />
          <div class="flex flex-row">
            <div class="self-start flex-col flex-grow text-left">
              <button
                :disabled="interfaceDisabled"
                class="h-8 px-3 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 hover:text-cool-gray-800"
                @click="saveZip()"
                type="button"
              >
                Save ZIP
              </button>
              <button
                :disabled="interfaceDisabled"
                class="h-8 px-3 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 hover:text-cool-gray-800"
                @click="saveWad()"
                type="button"
              >
                Save WAD
              </button>
            </div>
            <div class="text-right self-end">
              <input
                id="add_img"
                type="file"
                accept=".bmp, .png, .jpg, .gif"
                @change="addTexture(event)"
                hidden
              />
              <button
                :disabled="interfaceDisabled"
                class="self-end h-8 px-3 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 hover:text-cool-gray-800"
                @click="add_img.click()"
                type="button"
              >
                Add Texture
              </button>
              <input
                id="merge_wad"
                type="file"
                accept=".wad"
                @change="mergeWad(event)"
                hidden
              />
              <button
                :disabled="interfaceDisabled"
                class="self-end h-8 px-3 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 hover:text-cool-gray-800"
                @click="merge_wad.click()"
                type="button"
              >
                Merge WAD
              </button>
            </div>
          </div>
          <!-- Canvas Display -->
          <div
            class="rounded-lg bg-white shadow-lg p-2 w-full"
            v-if="textures.length"
          >
            <div class="flex flex-row m-2">
              <!-- Renaming -->
              <div class="flex-col flex-grow text-left">
                <input
                  :disabled="interfaceDisabled"
                  type="text"
                  name="rename"
                  id="rename"
                  :placeholder="textures[selected]?.name"
                  maxlength="12"
                  minlength="1"
                  v-model="renameInput"
                  v-effect="$el.value = textures[selected]?.name"
                  autofocus
                  class="h-8 p-2 w-32 max-w-full rounded-lg font-semibold transition ring-2 ring-cool-gray-300 focus:outline-none focus:ring-cool-gray-800 focus:ring-inset"
                />
                <button
                  :disabled="interfaceDisabled || renameInput == textures[selected]?.name || renameInput < 1 || renameInput > 12"
                  class="self-end h-8 px-3 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 enabled:hover:text-cool-gray-800"
                  @click="rename()"
                  type="button"
                >
                  Rename
                </button>
              </div>
              <!-- Deleting -->
              <div class="flex-col text-right">
                <button
                  :disabled="interfaceDisabled"
                  class="h-8 px-3 font-semibold transition rounded-lg enabled:cursor-pointer bg-gray-300 focus:outline-none focus:ring-2 focus:ring-cool-gray-800 focus:ring-inset enabled:text-gray-800 hover:text-cool-gray-800"
                  @click="remove()"
                  type="button"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
          <canvas
            v-effect="displayTexture($el)"
            width="20"
            height="20"
            id="viewport"
            class="m-1 mt-2 mx-auto"
            style="image-rendering: pixelated"
          ></canvas>
          <!-- Texture List-->
          <div
            class="rounded-lg bg-white shadow-lg flex-col"
            v-if="textures.length > 0"
          >
            <input
              :disabled="interfaceDisabled"
              type="search"
              name="search_textures"
              v-model="search"
              class="w-full bg-white p-3 font-semibold my-2 focus:outline-none"
              placeholder="Search Textures"
              v-init="focus()"
            />
            <select
              :disabled="interfaceDisabled"
              id="texture_list"
              size="5"
              @change="selected = $el.selectedIndex"
              v-effect="$el.selectedIndex = selected"
              class="w-full text-center children:p-4 children:font-semibold focus:outline-none"
            >
              <option
                :value="entry.name"
                :name="entry.name"
                v-for="entry in getEntries()"
                :hidden="entry.name.toLowerCase().includes(search.toLowerCase().replace(' ', '').trim()) == false"
              >
                {{entry.name}}
              </option>
            </select>
          </div>
          <!-- No texture -->
          <div
            class="rounded-lg bg-white shadow-lg flex-col"
            v-if="!textures.length"
          >
            <h3>No Textures.</h3>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="p-4 text-sm flex-col">
        <p>
          by
          <a href="https://github.com/2lag" class="text-gray-300"
            >day @2lag</a
          >.
        </p>
        <p>
          Forked from
          <a href="https://github.com/rehhouari/wad-editor" class="text-gray-300"
            >Rehhouari's WAD editor</a
          >.
        </p>
        <p>
          Which is forked from
          <a href="https://github.com/josephfortune/wad-editor" class="text-gray-300"
            >Joe's WAD editor</a
          >.
        </p>
        <p>
			<a
			  href="https://github.com/rehhouari/wad-editor"
			  class="text-gray-300 no-underline"
			  >Contribute on GitHub</a
			>
		</p>
      </div>
    </div>
    <script src="./js/jszip.min.js"></script>
    <script src="./js/FileSaver.min.js"></script>
  </body>
</html>
